AlignAfterOpenBracket: Align
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: MultiLine
BasedOnStyle: Webkit
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyBreakComment: 5
PenaltyBreakFirstLessLess: 50
PointerAlignment: Left
SortIncludes: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: true
Standard: c++20
UseTab: Never